<div class="container-fluid">
    <div class="row m-3 d-flex justify-content-center">
        <div class="card col-sm-6">
            <h1 class="text-center">LogIn</h1>
            <a routerLink="/signup" class="text-center">Need an account?</a>
            <form [formGroup]="myForm" (ngSubmit)="signIn()">
                <div class="form-group input-group">
                    <span class="input-group-text">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <input type="text" placeholder="Enter Email Address" formControlName="email"
                        class="form-control shadow-none">
                    <div class="alert alert-danger mt-2"
                        *ngIf="fControl['email'].touched && fControl['email'].errors?.['required']">
                        Email is required
                    </div>
                    <div class="alert alert-danger mt-2"
                        *ngIf="fControl['email'].dirty && fControl['email'].errors?.['email']">
                        Email is not valid
                    </div>
                </div>
                <div class="form-group input-group mt-2">
                    <!-- <input type="password" placeholder="Enter Password" formControlName="password" class="form-control"> -->
                    <input [type]="fieldTextType ? 'text' : 'password'" placeholder="Enter Password"
                        formControlName="password" class="form-control shadow-none">
                    <span class="input-group-text">
                        <i [ngClass]="{
                            'fas fa-lock': !fieldTextType,
                            'fa fa-lock-open': fieldTextType
                            }" (click)="toggleFieldTextType()">
                        </i>
                    </span>
                    <div class="alert alert-danger mt-2"
                        *ngIf="fControl['password'].touched && fControl['password'].errors?.['required']">
                        Password is required
                    </div>
                    <div class="alert alert-danger mt-2"
                        *ngIf="fControl['password'].dirty && fControl['password'].errors?.['minlength']">
                        Password is length 6
                    </div>
                </div>
                <div class="form-group m-3 text-center">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>