<div class="container-fluid">
    <div class="row custom-bg-blue d-flex">
        <div class="d-flex"><a routerLink="/customer/home"><i class="far fa-arrow-left mt-2 fs-3 text-black"></i></a>
            <h2 class="ms-2">My Account</h2>
        </div>
        <div class="custom-width d-flex justify-content-center">
            <img src="https://freesvg.org/img/abstract-user-flat-4.png" class="card-img-top" alt="profile image">
        </div>
    </div>
    <div class="card m-3 shadow p-3 mb-5 bg-body rounded">
        <div class="m-2">
            <h3>My Order</h3>
        </div>
        <hr>
        <div class="d-flex justify-content-end m-2">
            <a class="btn btn-primary" routerLink="/customer/order">View Order</a>
        </div>
    </div>
    <div class="card m-3 shadow p-3 mb-5 bg-body rounded">
        <div class="m-2">
            <h3>E-Commerce Plus</h3>
        </div>
        <hr>
        <div class="d-flex justify-content-end m-2">
            <a class="btn btn-primary" routerLink="/customer/order">View Plus Zone</a>
        </div>
    </div>
    <div class="card m-3 shadow p-3 mb-5 bg-body rounded">
        <div class="m-2">
            <h3>My Wishlist</h3>
        </div>
        <hr>
        <div class="d-flex justify-content-end m-2">
            <a class="btn btn-primary" routerLink="/customer/order">View Wishlist</a>
        </div>
    </div>
    <div class="card m-3 shadow p-3 mb-5 bg-body rounded">
        <div class="m-2">
            <h3>My Address</h3>
        </div>
        <hr>
        <div class="d-flex justify-content-between m-2">
            <div>
                <p>{{address}} {{ area}} {{ pinCode}}</p>
            </div>
            <div>
                <a class="btn btn-primary" routerLink="/customer/order">View Address</a>
            </div>
        </div>
    </div>
</div>