.custom-card-hover:hover {
  transform: scale(1.1);
  transition: 1s;
}
.custom-width {
  width: 17rem;
  height: 18rem;
}
.custom-slider-width {
  height: 350px;
}
.custom-slider-width img {
  height: 350px;
}
