<!-- <tr >
            <td>{{i+1}}</td>
            <td>{{product.push_key}}</td>
            <td></td>
            <td></td>
            <td>{{product.returnTime}}</td>
        </tr> -->
<div class="container-fluid d-flex flex-wrap">
    <div class="row card custom-card-hover d-flex flex-wrap m-3" *ngFor="let product of products; let i=index">
        <div class="col-sm-4">
            <img class="custom-width" src="../assets/book1.jpg" alt="book Image">
            <h5 class="card-title">{{product.itemName}}</h5>
            <p class="card-text">{{product.price | currency:'INR'}}</p>
            <a href="#" class="btn btn-primary" [routerLink]="['/customer/product-details/'+product.push_key]">View
                Details</a>
        </div>
    </div>
</div>