<div class="m-3 container-fluid">
    <div class="d-flex justify-content-center">
        <div class="card col-sm-8" *ngIf="totalCart==0">
            <div class="m-3">
                <h2>My Cart</h2>
                <div class="custom-cart-image">
                    <img class="text-center" src="../assets/cart.png" alt="Cart Image">
                </div>
                <div class="text-center">
                    <h4>Your cart is Empty</h4>
                    <small class="text-muted">Add items to it now</small><br>
                    <a routerLink="/customer/home" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="totalCart!=0">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div>
                        <h4>My Cart</h4>
                    </div>
                    <div>Deliver to</div>
                </div>
                <div class="card-body d-flex" *ngFor="let cart of filterCart">
                    <div class="col-sm-3">
                        <img class="custom-width" src="../assets/book1.jpg" alt="Product Image">
                        <div class="d-flex mt-2">
                            <div>
                                <button (click)="changeQty(cart.cartId,'remove')" class="btn btn-danger"
                                    [disabled]="cart.qty<2"><i class="fas fa-minus "></i></button>
                            </div>
                            <div>
                                <input type="text" class="form-control" value="{{cart.qty}}">
                            </div>
                            <div>
                                <button (click)="changeQty(cart.cartId,'add')" class="btn btn-success"><i
                                        class="fas fa-plus "></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <p>Item Name:- {{cart?.itemName ||''}}</p>
                        <p>Price:- {{cart?.price| currency:'INR' || ''}}</p>
                        <p>Total Price:- {{cart?.finalPrice| currency:'INR'||''}}</p>
                        <h5 (click)="deleteCart(cart.cartId)">REMOVE</h5>
                    </div>
                    <div class="col-sm-4">
                        <p>Delivery by </p>
                        <p>{{cart?.returnTime||''}} Day Replacement Policy</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Place Order
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body" *ngFor="let data of filterCart">
                            <div class="row">
                                <div class="col-sm-8 ps-3 pt-2">
                                    <h5 class="card-title">{{data?.title||''}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{data.price | currency:'INR'}}</h6>
                                    <p class="card-text">Quantity : {{data?.qty||''}}</p>
                                </div>
                                <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                    <h4>₹{{data?.finalPrice||''}}</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <form [formGroup]="orderForm">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Area"
                                        formControlName="area">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Address"
                                        formControlName="address">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Enter PinCode"
                                        formControlName="pinCode">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <p class="ms-3">Total amount : <span class="text-blue text-bold">
                                    {{fullBillAmount | currency:'INR'}}</span></p>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" (click)="addAddress()" data-bs-dismiss="modal">Order
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header text-gray">Price Details</h5>
                <div class="card-body row">
                    <div class="col-sm-6">
                        <p>Price({{totalCart}} items)</p>
                        <p>Delivery Charge</p>
                    </div>
                    <div class="col-sm-6">
                        <p>{{fullBillAmount | currency:'INR'}}</p>
                        <p class="text-success">Free</p>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>