.custom-width {
  width: 8rem;
}
.board {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}
.board-qyt {
  border: 1px solid gray;
  width: 50px;
  height: 30px;
  text-align: center;
  margin: 0 5px;
}
.pointer {
  cursor: pointer;
}
.text-gray {
  color: gray;
}
