<nav class="navbar navbar-expand-lg navbar-light custom-bg-blue">
    <div class="container-fluid font-color">
        <a class="navbar-brand text-white">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fs-5" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active  text-white" aria-current="page" routerLink='/customer/home'>Home</a>
                </li>
            </ul>
            <ul class="nav navnavbar-text navbar-nav">
                <li class="nav-item"><a class="nav-link  text-white" aria-current="page" routerLink='/login'>LogOut</a>
                </li>
                <li class="nav-item"><a class="nav-link  text-white" aria-current="page" routerLink='/customer/cart'>
                        <i class="fas fa-shopping-cart">
                            <span
                                class="position-absolute top-3 start-75 translate-middle badge rounded-pill bg-danger">
                                {{totalCart}}
                            </span>
                        </i></a>
                </li>
                <li class="nav-item"><a class="nav-link  text-white" aria-current="page"
                        routerLink='/customer/profile'><i class="fas fa-user"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>