<div class="card m-3 row d-flex justify-content-center">
    <div class="col-md-12">
        <h3>Your Address</h3>
        <div *ngFor="let address of filterOrder" class="m-2">
            <p>Your Name:- {{address.name}}</p>
            <p>Address:- {{address.address}}</p>
            <p>Area:- {{address.area}}</p>
            <p>PinCode:- {{address.pinCode}}</p>
            <p>Mobile No:- {{address.mobileNo}}</p>
            <p>Order ID:- {{address.orderId}}</p>
        </div>

    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h3>Your Order</h3>
            <div *ngFor="let order of filterOrder; let i=index" class="d-flex m-3">
                <div class="col-sm-4">
                    Order:-{{i+1}}
                    <img class="custom-width" src="../assets/book1.jpg" alt="Product Image">
                </div>
                <div>
                    <a class="btn btn-primary" (click)="getOrder(order.orderId)">Get Order</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Product Details</h4>
            <div *ngFor="let product of orderData" class="d-flex">
                <div class="clo-sm-4 m-2">
                    <img class="custom-width" src="../assets/book1.jpg" alt="Product Image">
                </div>
                <div class="col-sm-12 m-2">
                    <p>Product Name:- {{product.itemName}}</p>
                    <p>Price:- {{product.price}}</p>
                    <p>Quantity:- {{product.qty}}</p>
                    <p>Total Price:- {{product.finalPrice}}</p>
                    <p>Return Time:- {{product.returnTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>