<app-header></app-header>
<div class="card d-flex">
    <!-- <div class="m-3">
        <button class="btn btn-primary" routerLink="add-items">Add Item</button>
    </div>
    <div class="m-3">
        <button class="btn btn-primary" routerLink="view-items">View Item</button>
    </div> -->
    <div class="card m-3 d-flex justify-content-between" *ngFor="let card of cards">
        <div class="m-3">
            <h1>{{card.title}}</h1>
            <button class="btn btn-primary" routerLink={{card.routerLink}}>{{card.button}}</button>
        </div>
    </div>
</div>