<div class="card m-5 w-50">
    <h1 class="text-center">Add Item</h1>
    <form [formGroup]="myForm" (ngSubmit)="addItem()">
        <div class="form-group m-3">
            <input type="text" placeholder="Enter Email Item Name" formControlName="itemName" class="form-control">
        </div>
        <div class="form-group m-3">
            <input type="text" placeholder="Enter Price" formControlName="price" class="form-control">
        </div>
        <div class="form-group m-3">
            <input type="text" placeholder="Enter Return Time" formControlName="returnTime" class="form-control">
        </div>
        <div class="form-group m-3 text-center">
            <button class="btn btn-primary" type="submit">Add Item</button>
        </div>
    </form>
</div>